@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

.title {
  width: auto;
  text-align: left;
  font: normal normal 900 40px/53px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
  
.news-app-dash {
    position: absolute;
    top: 10%;
    left: 25%;
    width: auto;
    text-align: left;
    opacity: 1;
  }
  
.category-button-style{
    padding: 5px 20px 5px 20px;
    background: #00F0C2 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    opacity: 1;
    margin-right: 10px;
    font: normal normal 500 12px/19px Roboto;
  }
.disable-category-button{
    padding: 5px 20px 5px 20px;
    background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 20px;
    border-color: #fff;
    border-style: solid;
    opacity: 1;
    margin-right: 10px;
    letter-spacing: 0px;
    font: normal normal 500 12px/19px Roboto;
    color: #7E7E7E;
  }
  
  
.search-bar{
  margin-top: 20px;
  width: 60%;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px #00000010;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  }
  
.live-search-box {
    opacity: 1;
    width: 100%;
    height: 19px;
    margin-top: 10px;
    padding: 0;
    border: none;
    background: none;
    outline: none;
  }
  
  
  .icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
  }
  
  
  .news-cards {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px #00000010;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    opacity: 1;
    margin-top: 14px;
    float: left;
    height: 207px;
    width: 60%;
  }
  
  .card-title {
    margin-top: 26px;
    margin-left: 30px;
    margin-right: 221px;
    width: 60%;
    height: 42px;
    text-align: left;
    font: normal normal bold 16px/21px Roboto;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
    overflow: scroll;
  }
  
  .card-user-details{
    margin-top: 4px;
    margin-left: 30px;
    width: 60%;
    height: 16px;
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #989898;
    opacity: 1;
    overflow: scroll;
  }
  
  .divider {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 1px;
    height: 1px;
    border: 1px solid #989898;
    opacity: 1;
    background: #989898 0% 0% no-repeat padding-box;
    border-radius: 50%;
    display: inline-block
  }
  
  .card-description {
    margin-left: 30px;
    margin-top: 10px;
    width: 60%;
    height: 76px;
    text-align: left;
    font: normal normal 400 14px/19px Roboto;
    letter-spacing: 0px;
    color: #393939;
    opacity: 1;
    overflow: scroll;
    
  }
  
  
  .modal-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px #00000010;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    opacity: 1;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    background-color: rgba(128,128,128,0.5);
    display: none; 
  }
  
  .modal-attr {
    position: fixed;
    top: 50vh;
    left: 50vw;
    width: 60%;
    height: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    opacity: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 16px #00000010;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
    opacity: 1;
  }
  
  .add-category{
    margin-top: 57px;
    margin-left: 64px;
    width: 150px;
    height: 32px;
    text-align: left;
    font: normal normal 900 24px/32px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
  .input-category-box{
    width: 75%;
    margin-top: 64px;
    margin-left: 64px;
    height: 35px;
    text-align: left;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    outline: none;
  }
  
  .add-category-button {
    width: 81px;
    height: 32px;
    background-color: #ddd;
    border: none;
    color: rgb(243, 239, 239);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 64px;
    margin-top: 40px;
    cursor: pointer;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
  }
  
  
  span.icon {
    color: #ddd;
    padding: 5px;
  }
  
  .button-text {
    margin-left: 5px;
    font: normal normal 500 14px/19px Roboto;
  }
  
  .category-buttons {
    margin-top: '30px';
     display: 'flex';
     width: '60%';
  }
  
  .card-image {
    background-size: "250px";
    margin-left: "75%";
    width: "23%";
    height: "80%";
    border-radius: "9px";
    opacity: 1;
    margin-top: "26px";
    transform: 'scale(1)';
    transform-origin: '0 0';
  }